body {
	background: #000 none repeat scroll 0 0;
}
.media-container {
	height: 100%;
	margin: 0 auto;
	position: absolute;
	width: 100%;
}
button {
	background: #000 none repeat scroll 0 0;
	border: 1px solid #d10000;
	border-radius: 2px;
	color: #d10000;
	height: 30px;
	text-transform: uppercase;
	width: auto;
}
body.message {
	width: 100%;
	height: 100%;
	background: #000;
}
.controllers {
	margin: 0 auto;
	position: relative;
	text-align: center;
	top: -18%;
	width: 300px;
}
video#player {
	height: 100%;
	margin: auto;
	max-width: 100%;
	min-width: 100%;
	position: relative;
}


.video-js {
	background-color:transparent !important;
}

.vjs-nofull .vjs-fullscreen-control {
	display:none;
}

.vjs-fade-out {
display: block;
visibility: hidden;
opacity: 0;

-webkit-transition: visibility 1.5s, opacity 1.5s;
	 -moz-transition: visibility 1.5s, opacity 1.5s;
		-ms-transition: visibility 1.5s, opacity 1.5s;
		 -o-transition: visibility 1.5s, opacity 1.5s;
				transition: visibility 1.5s, opacity 1.5s;

/* Wait a moment before fading out the control bar */
-webkit-transition-delay: 2s;
	 -moz-transition-delay: 2s;
		-ms-transition-delay: 2s;
		 -o-transition-delay: 2s;
				transition-delay: 2s;
}


.vjs-default-skin.vjs-user-inactive .vjs-control-bar {
display: block;
visibility: hidden;
opacity: 0;

-webkit-transition: visibility 1.5s, opacity 1.5s;
	 -moz-transition: visibility 1.5s, opacity 1.5s;
		-ms-transition: visibility 1.5s, opacity 1.5s;
		 -o-transition: visibility 1.5s, opacity 1.5s;
				transition: visibility 1.5s, opacity 1.5s;
}
